.wave {
    position: absolute;
    bottom: -25px; /* Adjust to ensure visibility*/
    left: 0;
    width: 200%;
    height: 200px;
    z-index: 0;
    overflow: hidden;
}

.wave svg {
    width: 100%;
    height: 100%;
    display: block;
}

@media (max-width: 600px) {
    .wave {
        height: 150px;
        bottom: -10px; /* Adjusted for mobile visibility */
    }
}